{% extends "menu/header.html" %}


{% block contant %}


  {% for m in menu %}

      {% for p in select_url %}
              {% if p.url  in m.url %}

                   <br/>
                   <h4> <a href="/{{m.url}}">{{m.url}}</a> </h4>
                   <br/>

              {% else %}

                   <h4> <a href="/{{m.url}}">{{m.url}}</a> </h4>

              {% endif %}
      {% endfor %}
  {% endfor %}


  <p> source -https://en.wikipedia.org</p>
  {% for p in select_url %}

      <h2> {{p.body}}  </h2> <br/>

  {% endfor %}

{% endblock %}
